<html>
<head>
<script src="scripts/lodash.core.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="app/app.js"></script>
<link rel="stylesheet" type="text/css" href="styles/droid.css">
<title>DyouPortal</title>
  
</head>
<body ng-app="dyApp" ng-controller="dyAppCtrl">
  <div>
    <button ng-repeat="t in tpls" ng-click="updateContent(t.name)">{{t.name}}</button>
    </div>
  <div class="slide-animate-container">
    <div class="slide-animate" ng-include="curTpl"></div>
  </div>
</body>
</html>
